{% extends "layout.html.twig" %}
{% block title %}
	Products
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('account') }}
{% endblock %}
{% block content %}
	<article class="profil--list--container">

		<div class="profil">

			<h3>Hello</h3>

		</div>
		<div class="settings">
			<ul>
				<li>
					<i class="fa-solid fa-user"></i>Account preview</li>

				<li>
					<i class="fa-solid fa-truck"></i>Premier delivery</li>

				<li>
					<i class="fa-solid fa-info"></i>My details</li>

				<li>
					<i class="fa-solid fa-lock"></i>Change password</li>

				<li>
					<i class="fa-solid fa-address-book"></i>Address book</li>

				<li>
					<i class="fa-solid fa-credit-card"></i>Payment methods</li>

				<li>
					<i class="fa-solid fa-hashtag"></i>Social accounts</li>

				<li>
					<i class="fa-solid fa-gift"></i>Gifts</li>

				<li>
					<i class="fa-solid fa-turn-down-left"></i>Returns</li>

				<li>
					<i class="fa-solid fa-circle-question"></i>Need help ?</li>

				<li class="sign-out">
					<i class="fa-solid fa-arrow-right-from-bracket"></i>Sign out</li>

			</ul>
		</div>
	</article>
	<article class="account">

		<div class="account--title">
			<h1>My account</h1>
		</div>

		<div class="account--infos">

			<ul>
				<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quibusdam, ipsum autem dolores perferendis odit hic velit distinctio consectetur deleniti obcaecati amet, enim fuga, cum mollitia nulla voluptate pariatur laborum.</li>
				<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quibusdam, ipsum autem dolores perferendis odit hic velit distinctio consectetur deleniti obcaecati amet, enim fuga, cum mollitia nulla voluptate pariatur laborum.</li>
				<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quibusdam, ipsum autem dolores perferendis odit hic velit distinctio consectetur deleniti obcaecati amet, enim fuga, cum mollitia nulla voluptate pariatur laborum.</li>
				<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quibusdam, ipsum autem dolores perferendis odit hic velit distinctio consectetur deleniti obcaecati amet, enim fuga, cum mollitia nulla voluptate pariatur laborum.</li>
			</ul>
		</div>

	</article>

{% endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('account') }}
{% endblock %}
