<div class="footer--container">
	<div class="row">
		<div class="footer--about">
			<h6>About</h6>
			<p class="text-justify">WILD FIRE</p>
			<i>Responsible by Choice. Powerful by Nature.

			</i>
			Redefines luxury by transforming marine pollution into high quality products, handcrafted with passion in Italy.
			Every detail is sustainable and eco-friendly to protect our future and our sea. Products can be recycled again, infinitely.</p>

	</div>
	<div class="footer--links">
		<h6>Links</h6>
		<ol>
			<li class="menu-item">
				<a href={{ path('home')}}>Home</a>
			</li>
			<li class="menu-item">
				<a href={{ path('products')}}>Products</a>
			</li>
			<li class="menu-item">
				<a href='#' class="modal-sign">Account</a>
			</li>
			<li class="menu-item cart">
				<a href={{ path('cart')}} class="cart">Cart</a>
			</li>
		</ol>
	</div>
</div>
<hr></div><div class="footer-container">
<div class="row">
	<div class="copyright--container">
		<p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
			<a href="#">WILD FIRE</a>.
		</p>
	</div>
	<div class="footer--socials">
		<ul class="social-icons">
			<li>
				<a class="facebook" href="#">
					<i class="fa-brands fa-facebook-f"></i>

				</a>
			</li>
			<li>
				<a class="twitter" href="#">
					<i class="fa-brands fa-twitter"></i>

				</a>
			</li>
			<li>
				<a class="dribbble" href="#">
					<i class="fa-brands fa-dribbble"></i>

				</a>
			</li>
			<li>
				<a class="linkedin" href="#">
					<i class="fa-brands fa-linkedin-in"></i>
				</a>
			</li>
		</ul>
	</div>
</div></div>
