<div class="header--container">
	<a href={{ path('home')}}><img class="logo" src="./assets/img/logo_2.png" alt="logo"></a>
	<h1 class="brand--name">wild fire</h1>
	<nav class="menu">
		<ol>
			<li class="menu-item">
				<a href={{ path('home')}}>Home</a>
			</li>
			<li class="menu-item">
				<a href={{ path('products')}}>Products</a>
			</li>
			<li class="menu-item">
				<a href='#' class="modal-sign">Account</a>
			</li>
			<li class="menu-item cart">
				<a href={{ path('cart')}} class="cart">
					<i class="fa-solid fa-cart-shopping"></i>Cart
					<span class="badge"></span>
				</a>
			</li>
		</ol>
	</nav>
</div>
